*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  font-family: "Roboto", sans-serif;
  /* background: #f06d06; */
}
.container {
  min-width: 320px;
}

.header {
  background-color: #ffffff;

  width: 100%;
}
.navbar-container {
  width: 100%;
  background-color: #ffffff;
  padding-top: 30px;
}
.navbar {
  width: 84%;
  display: flex;
  align-items: center;
  margin: auto;
  justify-content: space-between;
}

.log_img {
  width: 90px;
  height: 74px;
}

.nav {
  display: flex;
  align-items: center;
}
.nav_lang {
  margin-right: 30px;
}
.nav-link ul {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 30px;
}
.nav-select {
  cursor: pointer;
  display: flex;
  gap: 2px;
}

.nav-select-options {
  flex-direction: column;
  position: absolute;
  gap: 10px !important;
  width: 61px;
  background: rgb(236, 235, 235);
}
.hide {
  visibility: hidden;
}
.arrowUpDown {
  transition: transform 0.3s;
}
.rotate {
  transform: rotate(180deg);
}
.nav-select-options li {
  width: 100%;
  text-align: center;
}
.nav-select-options li:hover {
  background-color: #fff;
  transition: all 0.1s ease-in-out;
  cursor: pointer;
}

.nav-link_item {
  text-decoration: none;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  letter-spacing: 0.02em;
  color: #565961;
}

.nav-btn {
  width: 80px;
  height: 32px;
  background: #ffffff;
  border: 1px solid #267c26;
  border-radius: 31px;
  font-weight: 500;
  font-size: 12px;
  line-height: 18px;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #267c26;
}

/* hamburger */

.hamburger {
  display: none;
}

.bar {
  display: block;
  width: 27px;
  height: 3px;
  margin: 5px auto;
  transition: all 0.3s ease-in-out;
  background-color: #212831;
}

/* nav end */
.header-content-img {
  width: 84%;
  display: flex;
  margin: auto;
}
.header-content {
  align-self: center;
  width: 50%;
}

.header-content-align {
  width: 74%;
}

.heading {
  font-weight: 700;
  font-size: 54px;
  line-height: 68px;
  color: #212831;
}
.header_para {
  margin-top: 20px;
}
.para_s {
  font-weight: 400;
  font-size: 18px;
  line-height: 32px;
  text-align: justify;
  color: #565961;
}
.header_btn {
  margin-top: 40px;
}
.btn {
  width: 170px;
  height: 56px;
  background: #267c26;
  border-radius: 50px;

  font-weight: 500;
  font-size: 16px;
  line-height: 28px;

  letter-spacing: 0.05em;
  text-transform: capitalize;
  color: #ffffff;
  border: none;
}

.header-img {
  width: 50%;
}
.header_img {
  width: 100%;
}

/* main start  */

.main {
  width: 100%;
  min-width: 320px;
}

.main-why {
  background: #f5f9fc;
}
.main-why_heading_para {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 87px;
}
.heading_s {
  text-align: center;
  font-weight: 500;
  font-size: 48px;
  line-height: 64px;
  color: #212831;
}
.main-why_para {
  margin-top: 20px;
  margin-bottom: 60px;
  width: 650px;
  text-align: center;
}
.para_b {
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  color: #565961;
}
.main-why-cards {
  display: flex;
  margin-top: 60px;
  padding-bottom: 100px;
  margin: auto;
  width: 84%;
  justify-content: space-between;
}
.card {
  width: 353px;
  background: #ffffff;
  box-shadow: 0px 10px 60px rgba(38, 45, 118, 0.08);
  border-radius: 20px;
}
.align-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main-why-card-secure {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card-custom_icon {
  min-width: 80px;
  min-height: 80px;
  margin: 40px 0;
  background: #267c26;
  box-shadow: 0px 10px 40px rgba(54, 61, 136, 0.06);
  display: flex;
  border-radius: 50%;
}
.card-setup_color {
  background: #fec952;
  box-shadow: 0px 16px 40px rgba(37, 44, 113, 0.1);
}
.card-secure_color {
  background: #62b8f3;
  box-shadow: 0px 10px 40px rgba(54, 61, 136, 0.06);
}
.card-custom_icon img {
  margin: auto;
}
.card-custom_h {
  width: 252px;
  margin-bottom: 20px;
}
.card_heading {
  text-align: center;
  font-weight: 600;
  font-size: 24px;
  line-height: 34px;
  letter-spacing: 0.02em;
  color: #212831;
}
.card-custom_p {
  width: 293px;
  text-align: center;
  margin-bottom: 40px;
}

/* main role */

.main-role {
  width: 84%;
  padding: 87px 0 100px 0;
  margin: auto;
  background: #ffffff;
  display: flex;
  flex-direction: column;
}

.main-role-manage {
  width: 100%;
}
.main-role-heading {
  width: 100%;
  text-align: center;
  margin-bottom: 70px;
}
.main-role-manage-heading {
  width: 100%;
  margin-bottom: 32px;
}

.role_heading {
  text-align: left;
  font-weight: 600;
  font-size: 36px;
  line-height: 49px;
  letter-spacing: 0.02em;
  color: #212831;
}
.role_span {
  color: #fa6758;
}
.right-heading {
  text-align: end;
}
.main-role-manage-container {
  width: 100%;
  background: #f5f9fc;
  border-radius: 29px;
  border: 0.1px solid transparent;
  margin-bottom: 100px;
}
.main-role-manage-own-content {
  width: 95%;
  margin: 2.5%;
  display: flex;
  justify-content: space-between;
}
.reverse-row {
  flex-direction: row-reverse;
}
.main-role-manage-own {
  width: 28%;
  min-width: 202px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.role-own {
  cursor: pointer;
  display: flex;
  align-items: center;
  background: #ffffff;
  border-radius: 13px;
  padding: 3px;
}

.school-icon {
  background: #267c26;
}
.teacher-icon {
  background: #fcf6ef;
}
.parent-icon {
  background: #fff3f2;
}
.student-icon {
  background: #f1f9fe;
}

.role-own_icon {
  margin: 12px;
  min-width: 60px;
  min-height: 60px;
  border-radius: 13px;
  display: flex;
}

.role-own_icon img {
  color: #ffffff;
  margin: auto;
}
.name_heading {
  font-weight: 500;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0.02em;
  color: #212831;
}
.main-role-manage-content {
  display: flex;
  flex-direction: column;
  gap: 35px;
  width: 65%;
}

.role-content {
  display: flex;
}
.role-content-icon {
  margin-right: 10px;
  margin-top: 2px;
}
.role_learn_more {
  cursor: pointer;

  font-weight: 500;
  font-size: 16px;
  line-height: 28px;
  letter-spacing: 0.04em;
  text-transform: capitalize;
  color: #267c26;
  margin-top: auto;
  place-self: flex-end;
  border: none;
  background: rgb(245, 249, 252);

  width: 89px;
  height: 28px;
}

.main-users-info-stat {
  width: 100%;
  background: #f5f9fc;
  border-radius: 20px;
  display: flex;
  justify-content: space-between;
  /* margin-bottom: 100px; */
  padding: 64px;
}
.main-users-info {
  width: 29%;
  display: flex;
  flex-direction: column;
  row-gap: 4px;
}

.main-users-info .para_med {
  color: #565961;
}
.main-users-vb {
  border-left: 1px solid #267c26;
  /* height: 100.5px; */
  width: 0.1%;
}
.main-users-stat {
  display: flex;
  width: 63%;
  align-items: center;
  justify-content: space-between;
}
.users-stat_num {
  font-weight: 700;
  font-size: 48px;
  line-height: 64px;
}
.users-stat {
  text-align: center;
}
.users-stat .inst_col {
  color: #267c26;
}
.users-stat .stu_col {
  color: #fa6758;
}
.users-stat .ctry_col {
  color: #62b8f3;
}

.para_bb {
  padding-top: 10px;
  font-weight: 500;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0.02em;
  color: #565961;
}
/* main trusted by */
.main-trusted-container {
  /* border: 1px solid transparent; */
  width: 100%;
  padding: 6.55% 0;
  background: linear-gradient(0deg, #ffffff 91.8%, #f5f9fc 100.87%);
}
.main-trusted {
  width: 84%;
  margin: auto;
}
.trusted-ready-heading-para h1 {
  margin-bottom: 4px;
}
.main-trusted-para {
  width: 71%;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 70px;
}
.main-trusted-para .para_b {
  text-align: center;
}

.main-trusted-links {
  display: flex;
  justify-content: space-between;
  margin-bottom: 100px;
}

.main-trusted-ready {
  justify-content: space-between;
  display: flex;
  align-items: center;
}
.trusted-ready-heading-para p {
  padding-right: 23px;
  color: #212831;
}

.btn_l {
  min-width: 210px;
  min-height: 56px;
  background: #267c26;
  border-radius: 50px;

  font-weight: 500;
  font-size: 16px;
  line-height: 28px;

  letter-spacing: 0.05em;
  text-transform: capitalize;
  color: #ffffff;
  border: none;
}

/* footer */

.footer {
  width: 100%;
  background: #267c26;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  width: 84%;
  margin: auto;
  gap: 71px;
  padding-top: 60px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.16);
  padding-bottom: 30px;
}
.footer-logo-content-socail {
  width: 21%;
  min-width: 175px;
}
.footer-content {
  margin-top: 10px;
  margin-bottom: 30px;
}
.para_med {
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #ffffff;
}
.footer-socail {
  display: flex;
  gap: 12px;
}
.socail {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 34px;
  min-height: 34px;
  background: rgba(255, 255, 255, 0.16);
  border-radius: 7px;
}
.socail:hover {
  background-color: #fff;
}
.socail:hover .icon_color {
  fill: #267c26;
}

.socail_link {
  max-height: 18px;
  max-width: 18px;
}

/* footer info  */
.footer-info {
  display: flex;
  gap: 50px;
  justify-content: flex-start;
  width: 68.57%;
  margin-top: 90px;
}
.product {
  width: 25%;
}
.company {
  width: 25%;
}
.others {
  width: 25%;
}
.contact {
  width: 50%;
}
.footer-infos_ul {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.footer-infos_ul li {
  list-style: none;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  letter-spacing: 0.02em;
  color: rgba(255, 255, 255, 0.85);
}

.footer-infos_heading {
  text-transform: capitalize;
  font-weight: 500;
  font-size: 16px;
  line-height: 28px;
  letter-spacing: 0.05em;
  color: #ffffff;
}

.footer-copyright {
  display: flex;
  justify-content: center;
  padding: 30px 0;
}
ul .contact {
  max-width: 216px;
}
@media (max-width: 1300px) {
  /* card media query */
  .main-why-cards {
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 20px;
  }
}

@media (max-width: 1023px) {
  .nav-link ul li a {
    font-size: 1.2rem;
  }
  .log_img {
    width: 50px;
    height: 41.11px;
  }
  /* header section */
  .heading {
    font-size: 40px;
    line-height: 47px;
  }

  .para_s {
    font-size: 12px;
    line-height: 20px;
  }

  .btn {
    min-width: 140px;
    min-height: 48px;
    font-size: 14px;
    line-height: 24px;
  }
  .header_para {
    margin-top: 12px;
  }
  .header_btn {
    margin-top: 20px;
  }

  /* why card */

  .card {
    width: 294px;
  }
  .card-custom_icon {
    margin: 40px 0 20px 0;
  }
  .card-setup_color {
    background: #fec952;
  }
  .card-secure_color {
    background: #62b8f3;
  }

  .card-custom_h {
    width: 175px;
    margin-bottom: 12px;
  }
  .card_heading {
    font-weight: 500;
    font-size: 18px;
    line-height: 28px;
  }
  .card-custom_p {
    width: 264px;
  }
  .para_b {
    font-weight: 400;
    font-size: 12px;
    line-height: 20px;
  }
  .main-why_para {
    width: 441px;
  }
  .heading_s {
    font-weight: 600;
    font-size: 36px;
    line-height: 49px;
    letter-spacing: 0.02em;
  }

  /* role section */
  .main-role-manage-container {
    margin-bottom: 60px;
  }
  .main-role {
    padding: 53px 0 61px 0;
  }
  .main-role-heading {
    margin-bottom: 25px;
  }

  .main-role-manage-heading {
    margin-bottom: 20px;
  }

  .main-role-manage-own {
    gap: 12px;
  }
  .main-role-manage-content {
    gap: 24px;
  }

  .main-users-info-stat {
    padding: 30px;
  }
  .users-stat_num {
    font-weight: 600;
    font-size: 32px;
    line-height: 38px;
  }
  .para_bb {
    padding-top: 2px;
    font-weight: 400;
    font-size: 12px;
    line-height: 20px;
  }
  .role_learn_more {
    font-size: 14px;
  }

  /* trusted section */

  .main-trusted-para {
    margin-bottom: 40px;
  }
  .main-trusted-links {
    margin-bottom: 60px;
  }
  .main-trusted-links a img {
    height: 27px;
  }

  .role_heading {
    font-size: 24px;
    line-height: 34px;
  }
  .trusted-ready-heading-para h1 {
    margin-bottom: 6px;
  }
  .btn_l {
    min-width: 160px;
    min-height: 48px;
    font-size: 14px;
    line-height: 24px;
  }

  /* footer section */

  .footer-info {
    flex-wrap: wrap;
    margin-top: 70px;
  }
  .footer-content {
    margin-top: 12.44px;
    margin-bottom: 20px;
  }
  .footer-logo a img {
    width: 70px;
    height: 57.56px;
  }
  .para_med {
    font-size: 12px;
    line-height: 20px;
  }
  .footer-infos_heading {
    font-size: 14px;
  }
  .footer-infos_ul li {
    font-size: 14px;
  }
}

@media (max-width: 767px) {
  /* media query for menu open and close */
  .nav-link ul {
    padding: 16px;
    position: absolute;
    flex-direction: column;
    top: 7.44rem;
    transition: 0.3s;
    left: -100%;
    width: 100%;
    /* color: white; */
    background: #fff;
  }
  .nav-link ul.active {
    left: 0;
  }
  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }
  .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }
  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }
  .hamburger {
    display: block;
    cursor: pointer;
  }
  .nav-link ul li:last-child {
    margin: 8px 0;
  }

  .nav-link_items li {
    position: relative;
  }

  .nav-select-options {
    position: absolute !important;
    /* bottom: 72px; */
    top: 25px !important;
    z-index: 1;
    left: 1px !important;
    background: rgb(236, 235, 235) !important;
  }

  /* header section  */
  .header-content-img {
    padding-top: 48px;
  }
  .header-content-img {
    flex-direction: column;
  }
  .header-content {
    align-self: auto;
    width: 100%;
  }
  .header-content-align {
    width: 100%;
  }
  .heading {
    font-weight: 600;
    font-size: 36px;
    line-height: 49px;
  }
  .header_para {
    margin-top: 0;
  }
  .para_s {
    font-size: 14px;
    line-height: 24px;
  }
  .header_btn {
    margin-top: 24px;
  }
  .btn {
    min-width: 170px;
    min-height: 56px;
    font-size: 16px;
    line-height: 28px;
  }
  .header-img {
    width: 100%;
  }

  /* main why card section  */
  .main-why-cards {
    padding-bottom: 60px;
  }
  .main-why_heading_para {
    padding-top: 53px;
  }
  .main-why_para {
    margin-top: 4px;
    margin-bottom: 40px;
  }

  /* role section  */

  .main-role {
    padding: 60px 0 60px 0;
  }
  .main-role-heading {
    margin-bottom: 30px;
  }
  .heading_s {
    font-size: 30px;
    line-height: 40px;
  }

  .main-role-manage-own-content {
    flex-direction: column;
    gap: 40px;
  }
  .main-role-manage-own {
    width: 100%;
  }
  .role-own_icon {
    min-width: 54px;
    min-height: 54px;
  }
  .main-role-manage-content {
    width: 100%;
    gap: 20px;
  }
  .role-own_icon_img {
    width: 25.2px;
    height: 28.8px;
  }
  .name_heading {
    font-size: 16px;
  }
  .para_b {
    font-size: 14px;
    line-height: 24px;
  }
  .role_learn_more {
    font-size: 16px;
    letter-spacing: 0.02em;
  }
}
@media (max-width: 600px) {
  .main-why_para {
    width: 316px;
  }
  .main-why-cards {
    justify-content: center;
  }

  /* trusted section */
  .main-trusted-links {
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
  }
  .heading_s {
    font-size: 30px;
    line-height: 40px;
  }
  .main-trusted-para {
    margin-top: 6px;
  }
  .main-users-info-stat {
    padding: 20px;
  }
  .main-users-info-stat {
    display: flex;
    flex-direction: column;
  }
  .main-users-info {
    width: 100%;
  }
  .main-users-stat {
    width: 100%;
    border-left: 1px solid #267c26;
    padding-left: 33px;
  }
  .main-users-info .para_med {
    margin-bottom: 20px;
  }
  .trusted-ready-heading-para h1 {
    text-align: center;
  }
  .trusted-ready-heading-para p {
    padding: 0;
    text-align: center;
    margin-bottom: 20px;
  }
  .btn_l {
    width: 210px;
    height: 56px;
    font-size: 16px;
    line-height: 28px;
  }

  /* footer */
  .footer-container {
    flex-wrap: wrap;
  }
  .footer-logo-content-socail {
    width: 100%;
  }
  .footer-info {
    margin-top: 0;
  }
}
@media (max-width: 375px) {
  /* card */
  .main-why-cards {
    justify-content: center;
  }
  .heading_s {
    font-size: 30px;
    line-height: 40px;
  }
  .para_b {
    font-size: 14px;
  }
  .main-why_heading_para {
    padding-top: 60px;
  }
  .main-why_para {
    margin-top: 6px;
    margin-bottom: 40px;
  }

  .card {
    width: 316px;
  }
  .card-custom_icon {
    margin-bottom: 24px;
  }
}
