*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Roboto", sans-serif;
  /* background: #f06d06; */
}
/* .header-img {
  width: 56.82%;
  height: 665px;
  position: relative;
} */
/* .header-img::after {
  content: "";
  position: absolute;

  z-index: 58;
  height: 665px;
  width: 63.31%;
  background: url(./images/header_img.svg);
  background-size: 130%;
} */

.container {
  background-color: #ffffff;
  /* width: 100%; */
  width: 100%;
  /* margin: auto; */
  /* height: 804px; */
}
.navbar-container {
  width: 100%;
  /* position: fixed; */
  background-color: #ffffff;
  padding-top: 30px;
}
.navbar {
  width: 1120px;
  /* width: 77.778%; */
  display: flex;
  align-items: center;
  margin: auto;
  justify-content: space-between;
  padding: 0 10px;
}

/* .logo {
  /* margin-right: 295px; */
/* } */
.log_img {
  width: 90px;
  height: 74.48px;
}

.nav {
  display: flex;
  align-items: center;
}
.nav_lang {
  margin-right: 30px;
}
.nav_link ul {
  list-style: none;
  display: flex;
  align-items: center;
}
.nav_link li {
  margin-right: 30px;
}
.nav_link li a {
  text-decoration: none;

  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0.02em;
  color: #565961;
}

.nav-btn {
  width: 100px;
  height: 38px;
  background: #ffffff;
  border: 1px solid #267c26;
  border-radius: 31px;
  font-weight: 500;
  font-size: 12px;
  line-height: 18px;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #267c26;
}

/* nav end */
.header-content-img {
  width: 1120px;
  display: flex;
  margin: auto;

  /* height: 804px; */
  /* margin-right: 160px; */
  /* margin-right: 267px; */
}
.header-content {
  /* margin-top: 174px; before change */
  margin-top: 175.52px;
  margin-right: 61px;
  /* width: 541px; */
}
/* .header_heading {
  width: 449px;
} */
.heading {
  font-weight: 700;
  font-size: 70px;
  line-height: 82px;
  color: #212831;
}
.header_para {
  width: 449px;
  margin-top: 25px;
  margin-bottom: 50px;
}
.para_s {
  font-weight: 400;
  color: #565961;
  font-weight: 400;
  font-size: 22px;
  line-height: 40px;
  color: #565961;
}

.btn {
  background: #267c26;
  font-weight: 500;
  letter-spacing: 0.05em;
  color: #ffffff;
  border: none;
  width: 190px;
  height: 65px;
  background: #267c26;
  border-radius: 50px;
  font-size: 22px;
  line-height: 40px;
  text-transform: capitalize;
}

.header-img {
  width: 636.49px;
  height: 665px;
  /* margin-top: 45.52px; */
  /* position: relative;
  margin-top: 36px; */
}
.header_img {
  height: 750px;
}
/* .header-img::after {
  content: "";
  position: absolute;
  /* top: 100%; 
  height: 665px;
  width: 636.49px;
  background: url(./images/header_background_img.svg);

  background-position: center;

  background-clip: content-box; 
   background-size: 130%;
} */

/* .header-img { */
/* height: 665px;
  width: 636.49px; */
/* background: center / contain no-repeat
    url("./images/header_background_img.svg"); */
/* background-repeat: no-repeat; */
/* } */

/* main start  */

.main-why {
  /* height: 816px; */
  /* background: #26475f; */
  background: #f5f9fc;
  /* width: 100%; */
}
.main-why_heading_para {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 87px;
}
/* .main-why_heading {
  width: 350px;
  height: 64px;
} */
.heading_s {
  color: #212831;
  font-weight: 700;
  font-size: 54px;
  line-height: 68px;
}
.main-why_para {
  margin-top: 20px;
  width: 650px;
  height: 84px;
}
.para_b {
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  color: #565961;
}
.main-why-cards {
  display: flex;
  /* background-color: #88c488; */
  height: 501px;
  margin: 60px 160px 0px 160px;
}
.card {
  width: 353px;
  height: 401px;
  background: #ffffff;
  box-shadow: 0px 10px 60px rgba(38, 45, 118, 0.08);
  border-radius: 20px;
}
.align-card {
  margin-right: 31px;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
}
.align-card {
  margin-right: 31px;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
}
.main-why-card-secure {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
}

.card-custom_icon {
  width: 80px;
  height: 80px;
  margin: 40px 0;
  background: #267c26;
  box-shadow: 0px 10px 40px rgba(54, 61, 136, 0.06);
  display: flex;
  border-radius: 50%;
}
.card-setup_color {
  background: #fec952;
  box-shadow: 0px 16px 40px rgba(37, 44, 113, 0.1);
}
.card-secure_color {
  background: #62b8f3;
  box-shadow: 0px 10px 40px rgba(54, 61, 136, 0.06);
}
.card-custom_icon img {
  margin: auto;
}
.card-custom_h {
  width: 252px;
  height: 69px;
  margin-bottom: 20px;
}
.card-custom_h h2 {
  font-weight: 600;
  font-size: 24px;
  line-height: 34px;
  text-align: center;
  letter-spacing: 0.02em;
  color: #212831;
}
.card-custom_p {
  width: 293px;
  height: 112px;
  margin-bottom: 40px;
}

/* main role */

.main-role {
  background: #ffffff;
  /* background: #b4ecb4; */
  /* width: 100%; */
  /* height: 500px; */
  display: flex;
  flex-direction: column;
}

.main-role-manage {
  width: 1120px;
  /* margin: 0 160px; */
  margin: auto;

  /* background: #4c6b4c; */
}
.main-role-heading {
  width: 863px;
  height: 64px;
  /* margin: auto; */
  align-self: center;
  margin-top: 87px;
  margin-bottom: 70px;
}
.main-role-manage-heading {
  width: 390px;
  height: 50px;
  margin-bottom: 32px;
}
.role_heading {
  font-weight: 600;
  font-size: 36px;
  line-height: 49px;
  letter-spacing: 0.02em;
  color: #212831;
}
.role_span {
  color: #fa6758;
}
.main-role-manage-container {
  width: 1120px;
  height: 538px;
  background: #f5f9fc;
  border-radius: 29px;
  border: 0.1px solid transparent;
  margin-bottom: 100px;
}
.main-role-manage-own-content {
  width: 1060px;
  height: 478px;
  /* background: #9bacb9; */
  margin: 30px;
  display: flex;
  justify-content: space-between;
}
.role-own {
  cursor: pointer;
  display: flex;
  align-items: center;
  width: 323px;
  height: 90px;
  background: #ffffff;
  border-radius: 13px;
  margin-bottom: 20px;
}

.active_i {
  background: #267c26;
}
.role-content {
  width: 657px;
  height: 56px;
  /* background: #ffffff; */
  margin-bottom: 35px;
}
.role-own_icon {
  margin-left: 15px;
  margin-right: 12px;
  width: 60px;
  height: 60px;

  border-radius: 13px;
  /* box-shadow: 0px 10px 40px rgb(54 61 136 / 6%); */
  display: flex;
}
.role-own_icon img {
  width: 28px;
  height: 32px;
  color: #ffffff;
  margin: auto;
}
.name_heading {
  font-weight: 500;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0.02em;
  color: #212831;
}
.role-content {
  display: flex;
}
.role-content-icon {
  margin-right: 10px;
  margin-top: 2px;
}
.role_learn_more {
  cursor: pointer;
  width: 95px;
  height: 28px;
  font-weight: 500;
  font-size: 16px;
  line-height: 28px;
  letter-spacing: 0.05em;
  text-transform: capitalize;
  color: #267c26;
  margin-top: -5px;
  float: right;
  border: none;
  background: rgb(245, 249, 252);
}

/* main users statistics */
.main-users-info-stat {
  width: 1120px;
  height: 230px;
  background: #f5f9fc;
  /* background: #5399ce; */
  border-radius: 20px;
  margin: auto;
  display: flex;
  margin-bottom: 100px;
}
.main-users-info {
  /* width: 313px; */
  /* background: #7a7d80; */
  margin: 64px;
}

.para_med {
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #565961;
}
.main-users-info h1 {
  margin-bottom: 4px;
}
.main-users-stat {
  display: flex;
  /* background: #888f94; */
  width: 630px;
  height: 100px;
  border-left: 1px solid #267c26;
  margin: 65px 0;
}
.institutes-stat-num-para {
  margin-right: 157px;
  margin-left: 60px;
}

.stat-margin {
  margin-top: 3px;
  margin-bottom: -6px;
}
.stat-margin h1 {
  margin-bottom: 10px;
}
.users-stat-num {
  font-weight: 700;
  font-size: 48px;
  line-height: 64px;
}
.institutes-stat-num-para .users-stat-num {
  color: #267c26;
}
.para_bb {
  font-weight: 500;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0.02em;
  color: #565961;
}
.Students-stat-num-para .users-stat-num {
  color: #fa6758;
}
.Countries-stat-num-para .users-stat-num {
  color: #62b8f3;
}

.Countries-stat-num-para {
  margin-left: 157px;
  margin-right: 64px;
}
.Countries-stat-num-para .users-stat-num {
  margin-left: 12px;
}
/* main trusted by */
.main-trusted {
  border: 1px solid transparent;
  width: 100%;
  height: 811px;
  /* background-color: #cce6f7; */
  background: linear-gradient(0deg, #ffffff 91.8%, #f5f9fc 100.87%);
}
.main-trusted-heading {
  margin-top: 88px;
  display: flex;
  justify-content: center;
}

.main-trusted-para {
  width: 852px;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 70px;
}
.main-trusted-para .para_b {
  text-align: center;
}

.main-trusted-links {
  width: 1121.04px;
  height: 55px;
  /* background: #62b8f3; */
  display: flex;
  /* gap: 89px; */
  gap: 88px;
  display: flex;
  align-items: center;
  margin: auto;
  margin-bottom: 70px;
}

.main-trusted-ready {
  justify-content: space-between;
  display: flex;
}
.trusted-ready-heading-para p {
  color: #212831;
}

.btn_l {
  width: 210px;
  height: 56px;
  background: #267c26;
  border-radius: 50px;

  font-weight: 500;
  font-size: 16px;
  line-height: 28px;

  letter-spacing: 0.05em;
  text-transform: capitalize;
  color: #ffffff;
  border: none;
}
.trusted-ready-btn {
  margin-top: 87px;
  margin-bottom: 87px;
  margin-right: 68px;
}

/* footer */

.footer {
  width: 100%;
  background: #267c26;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  max-width: 1120px;
  width: 77.7%;
  /* background: #6b252b; */
  /* background: #f3968c; */
  margin: auto;

  padding-top: 60px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.16);
  padding-bottom: 30px;
  /* padding-bottom: 30px; */
  /* margin: 0 160px; */
}
.footer-logo-content-socail {
  /* background: #f3bfb9; */
  width: 22.85%;
  /* min-width: 216px; */
}
.socail {
  min-width: 34px;
  height: 34px;
}

/* .footer-logo {
  width: 90px;
  height: 74px;
} */

.footer-content {
  margin-top: 10px;
  margin-bottom: 30px;
}
.para_med {
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #ffffff;
}
.footer-socail {
  display: flex;
  gap: 12px;
}
.socail {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 34px;
  height: 34px;
  background: rgba(255, 255, 255, 0.16);
  border-radius: 7px;
}

/* footer info  */
.footer-info {
  display: flex;
  /* gap: 4rem; */
  justify-content: space-between;
  width: 68.57%;
  /* background: #f0dfdd; */
  /* padding-top: 30px; */
  margin-top: 90px;
}
.footer-infos_ul {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.footer-infos_ul li {
  list-style: none;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  letter-spacing: 0.02em;
  color: rgba(255, 255, 255, 0.85);
}

.footer-infos_heading {
  text-transform: capitalize;
  font-weight: 500;
  font-size: 16px;
  line-height: 28px;
  letter-spacing: 0.05em;
  color: #ffffff;
}

.footer-copyright {
  display: flex;
  justify-content: center;
  padding: 30px 0;
}
.contact {
  max-width: 216px;
}
