*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  font-family: "Roboto", sans-serif;
  /* background: #f06d06; */
}
.container {
  min-width: 320px;
}

.header {
  background-color: #ffffff;
  /* width: 100%; */
  width: 100%;
  /* margin: auto; */
  /* height: 804px; */
}
.navbar-container {
  width: 100%;
  /* position: fixed; */
  background-color: #ffffff;
  padding-top: 30px;
}
.navbar {
  width: 84%;
  display: flex;
  align-items: center;
  margin: auto;
  justify-content: space-between;
  /* padding: 0 10px; */
}

/* .logo {
  /* margin-right: 295px; */
/* } */
.log_img {
  width: 90px;
  height: 74px;
}

.nav {
  display: flex;
  align-items: center;
}
.nav_lang {
  margin-right: 30px;
}
.nav-link ul {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 30px;
}
.nav-select {
  cursor: pointer;
  display: flex;
  gap: 2px;
}

.nav-select-options {
  flex-direction: column;
  position: absolute;
  /* bottom: 72px; */
  gap: 10px !important;
  width: 61px;
  background: rgb(236, 235, 235);
}
.hide {
  visibility: hidden;

  /* display: none; */
}
.arrowUpDown {
  transition: transform 0.3s;
}
.rotate {
  transform: rotate(180deg);
}
.nav-select-options li {
  width: 100%;
  text-align: center;
}
.nav-select-options li:hover {
  background-color: #fff;
  transition: all 0.1s ease-in-out;
  cursor: pointer;
}

.nav-link_item {
  text-decoration: none;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  letter-spacing: 0.02em;
  color: #565961;
}

.nav-btn {
  width: 80px;
  height: 32px;
  background: #ffffff;
  border: 1px solid #267c26;
  border-radius: 31px;
  font-weight: 500;
  font-size: 12px;
  line-height: 18px;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #267c26;
}

/* hamburger */

.hamburger {
  display: none;
}

.bar {
  display: block;
  width: 27px;
  height: 3px;
  margin: 5px auto;
  transition: all 0.3s ease-in-out;
  background-color: #212831;
}

/* nav end */
.header-content-img {
  width: 84%;
  /* width: 77.78%; */
  display: flex;
  /* flex-direction: column; */
  margin: auto;

  /* height: 804px; */
  /* margin-right: 160px; */
  /* margin-right: 267px; */
}
.header-content {
  /* margin-top: 174px; before change */
  margin-top: 176px;
  /* margin-right: 42px; */
  flex: 1;
  /* background: #267c26; */
  /* width: 449px; */
}
.header_heading {
  width: 449px;
}
.heading {
  font-weight: 700;
  font-size: 54px;
  line-height: 68px;
  color: #212831;
}
.header_para {
  width: 449px;
  margin-top: 20px;
}
.para_s {
  font-weight: 400;
  font-size: 18px;
  line-height: 32px;
  text-align: justify;
  color: #565961;
}
.header_btn {
  margin-top: 40px;
}
.btn {
  width: 170px;
  height: 56px;
  background: #267c26;
  border-radius: 50px;

  font-weight: 500;
  font-size: 16px;
  line-height: 28px;

  letter-spacing: 0.05em;
  text-transform: capitalize;
  color: #ffffff;
  border: none;
}

.header-img {
  flex: 1;
  /* width: 50%; */
}
.header_img {
  width: 686px;
  height: 664px;
}

/* main start  */

.main {
  width: 100%;
  min-width: 320px;
}

.main-why {
  /* height: 816px; */
  /* background: #26475f; */
  background: #f5f9fc;
  /* width: 100%; */
}
.main-why_heading_para {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 87px;
}
/* .main-why_heading {
  width: 350px;
} */
.heading_s {
  text-align: center;
  font-weight: 500;
  font-size: 48px;
  line-height: 64px;
  color: #212831;
}
.main-why_para {
  margin-top: 20px;
  margin-bottom: 60px;
  width: 650px;
  text-align: center;
}
.para_b {
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  color: #565961;
}
.main-why-cards {
  display: flex;
  /* background-color: #88c488; */
  /* height: 501px; */
  margin-top: 60px;
  padding-bottom: 100px;
  margin: auto;
  width: 84%;
  justify-content: space-between;
  /* margin: 60px 160px 0px 160px; */
}
.card {
  width: 353px;
  /* height: 401px; */
  background: #ffffff;
  box-shadow: 0px 10px 60px rgba(38, 45, 118, 0.08);
  border-radius: 20px;
}
.align-card {
  /* margin-right: 31px; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main-why-card-secure {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card-custom_icon {
  min-width: 80px;
  min-height: 80px;
  margin: 40px 0;
  background: #267c26;
  box-shadow: 0px 10px 40px rgba(54, 61, 136, 0.06);
  display: flex;
  border-radius: 50%;
}
.card-setup_color {
  background: #fec952;
  box-shadow: 0px 16px 40px rgba(37, 44, 113, 0.1);
}
.card-secure_color {
  background: #62b8f3;
  box-shadow: 0px 10px 40px rgba(54, 61, 136, 0.06);
}
.card-custom_icon img {
  margin: auto;
}
.card-custom_h {
  width: 252px;
  /* height: 69px; */
  margin-bottom: 20px;
}
.card_heading {
  text-align: center;
  font-weight: 600;
  font-size: 24px;
  line-height: 34px;
  letter-spacing: 0.02em;
  color: #212831;
}
.card-custom_p {
  width: 293px;
  text-align: center;
  /* height: 112px; */
  margin-bottom: 40px;
}

/* main role */

.main-role {
  width: 84%;
  padding: 6.55% 0;
  margin: auto;
  background: #ffffff;
  /* background: #b4ecb4; */
  /* width: 100%; */
  /* height: 500px; */
  display: flex;
  flex-direction: column;
}

.main-role-manage {
  width: 100%;
  /* margin: 0 160px; */
  /* margin: auto; */

  /* background: #4c6b4c; */
}
.main-role-heading {
  width: 100%;
  text-align: center;
  /* width: 863px;
  height: 64px; */
  /* margin: auto; */
  /* align-self: center; */
  /* margin-top: 87px; */
  margin-bottom: 70px;
}
.main-role-manage-heading {
  width: 100%;
  margin-bottom: 32px;
}

.role_heading {
  text-align: left;
  font-weight: 600;
  font-size: 36px;
  line-height: 49px;
  letter-spacing: 0.02em;
  color: #212831;
}
.role_span {
  color: #fa6758;
}
.right-heading {
  text-align: end;
}
.main-role-manage-container {
  width: 100%;
  /* height: 538px; */
  background: #f5f9fc;
  border-radius: 29px;
  border: 0.1px solid transparent;
  margin-bottom: 100px;
}
.main-role-manage-own-content {
  width: 95%;
  margin: 2.5%;
  display: flex;
  justify-content: space-between;
}
.reverse-row {
  flex-direction: row-reverse;
}
.main-role-manage-own {
  width: 28%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.role-own {
  cursor: pointer;
  display: flex;
  align-items: center;
  /* width: 323px; */
  /* height: 90px; */
  background: #ffffff;
  border-radius: 13px;
  padding: 3px;
  /* margin-bottom: 20px; */
}

.active_i {
  background: #267c26;
}
/* .role-content {
  /* width: 657px;
  height: 56px; */
/* background: #ffffff; 
} */
.role-own_icon {
  margin: 12px;
  min-width: 60px;
  min-height: 60px;
  border-radius: 13px;
  /* box-shadow: 0px 10px 40px rgb(54 61 136 / 6%); */
  display: flex;
}
.role-own_icon img {
  /* width: 28px;
  height: 32px; */
  color: #ffffff;
  margin: auto;
}
.name_heading {
  font-weight: 500;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0.02em;
  color: #212831;
}

.main-role-manage-content {
  display: flex;
  flex-direction: column;
  gap: 35px;
  width: 65%;
}

.role-content {
  display: flex;
}
.role-content-icon {
  margin-right: 10px;
  margin-top: 2px;
}
.role_learn_more {
  cursor: pointer;

  font-weight: 500;
  font-size: 16px;
  line-height: 28px;
  letter-spacing: 0.04em;
  text-transform: capitalize;
  color: #267c26;
  /* margin-top: -5px; */
  /* float: right; */
  margin-top: auto;
  place-self: flex-end;
  border: none;
  background: rgb(245, 249, 252);

  width: 89px;
  height: 28px;

  /* text-align: justify; */
}

/* main users statistics */
.main-users-info-stat {
  width: 100%;
  background: #f5f9fc;
  border-radius: 20px;
  display: flex;
  justify-content: space-between;
  /* margin-bottom: 100px; */
  padding: 64px;
}
.main-users-info {
  width: 29%;
  display: flex;
  flex-direction: column;
  row-gap: 4px;
}

.main-users-info .para_med {
  color: #565961;
}
.main-users-vb {
  border-left: 1px solid #267c26;
  /* height: 100.5px; */
  width: 0.1%;
}
.main-users-stat {
  display: flex;
  width: 63%;
  justify-content: space-between;
}
/* .institutes-stat-num-para {
  margin-right: 157px;
  margin-left: 60px;
} */

/* .stat-margin {
  margin-top: 3px;
  margin-bottom: -6px;
} */
/* .stat-margin h1 {
  margin-bottom: 10px;
} */
.users-stat-num {
  font-weight: 700;
  font-size: 48px;
  line-height: 64px;
}
.users-stat {
  text-align: center;
}
.users-stat .inst_col {
  color: #267c26;
}
.users-stat .stu_col {
  color: #fa6758;
}
.users-stat .ctry_col {
  color: #62b8f3;
}

/* .institutes-stat-num-para .users-stat-num {
  color: #267c26;
} */
.para_bb {
  font-weight: 500;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0.02em;
  color: #565961;
}
/* .Students-stat-num-para .users-stat-num {
  color: #fa6758;
} */
/* .Countries-stat-num-para .users-stat-num {
  color: #62b8f3;
} */
/* 
.Countries-stat-num-para {
  /* margin-left: 157px;
  margin-right: 64px; 
} */
/* .Countries-stat-num-para .users-stat-num {
  margin-left: 12px;
} */
/* main trusted by */
.main-trusted-container {
  /* border: 1px solid transparent; */
  width: 100%;
  padding: 6.55% 0;
  /* height: 811px; */
  /* background-color: #cce6f7; */
  background: linear-gradient(0deg, #ffffff 91.8%, #f5f9fc 100.87%);
}
.main-trusted {
  width: 84%;
  margin: auto;
}
/* .main-trusted-heading {
  
} */

.trusted-ready-heading-para h1 {
  margin-bottom: 4px;
}
.main-trusted-para {
  width: 71%;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 70px;
}
.main-trusted-para .para_b {
  text-align: center;
}

.main-trusted-links {
  /* width: 1121.04px;
  height: 55px; */
  /* background: #62b8f3; */
  display: flex;
  justify-content: space-between;
  margin-bottom: 100px;
  flex-wrap: wrap;
  /* gap: 89px; */
  /* gap: 88px; */

  /* align-items: center; */
  /* margin: auto; */
}

.main-trusted-ready {
  justify-content: space-between;
  display: flex;
  align-items: center;
}
.trusted-ready-heading-para p {
  color: #212831;
}

.btn_l {
  width: 210px;
  height: 56px;
  background: #267c26;
  border-radius: 50px;

  font-weight: 500;
  font-size: 16px;
  line-height: 28px;

  letter-spacing: 0.05em;
  text-transform: capitalize;
  color: #ffffff;
  border: none;
}
/* .trusted-ready-btn {
  margin-top: 87px;
  margin-bottom: 87px;
  margin-right: 68px;
} */

/* footer */

.footer {
  width: 100%;
  background: #267c26;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  /* max-width: 1120px; */
  width: 84%;
  /* background: #6b252b; */
  /* background: #f3968c; */
  margin: auto;

  padding-top: 60px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.16);
  padding-bottom: 30px;
  /* padding-bottom: 30px; */
  /* margin: 0 160px; */
}
.footer-logo-content-socail {
  /* background: #f3bfb9; */
  width: 21%;
  min-width: 175px;
}
/* .socail {
  min-width: 34px;
  height: 34px;
} */

/* .footer-logo {
  width: 90px;
  height: 74px;
} */

.footer-content {
  margin-top: 10px;
  margin-bottom: 30px;
}
.para_med {
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #ffffff;
}
.footer-socail {
  display: flex;
  gap: 12px;
}
.socail {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 34px;
  min-height: 34px;
  background: rgba(255, 255, 255, 0.16);
  border-radius: 7px;
}
.socail_link {
  max-height: 18px;
  max-width: 18px;
}

/* footer info  */
.footer-info {
  display: flex;
  /* gap: 4rem; */
  justify-content: space-between;
  width: 68.57%;
  /* background: #f0dfdd; */
  /* padding-top: 30px; */
  margin-top: 90px;
}
.contact {
  width: 216px;
}
.footer-infos_ul {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.footer-infos_ul li {
  list-style: none;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  letter-spacing: 0.02em;
  color: rgba(255, 255, 255, 0.85);
}

.footer-infos_heading {
  text-transform: capitalize;
  font-weight: 500;
  font-size: 16px;
  line-height: 28px;
  letter-spacing: 0.05em;
  color: #ffffff;
}

.footer-copyright {
  display: flex;
  justify-content: center;
  padding: 30px 0;
}
ul .contact {
  max-width: 216px;
}

/* @media (max-width: 1000px) {
  .main-why-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
} */

/* @media (max-width:1024px){
  
} */

@media (max-width: 1300px) {
  /* card media query */
  .main-why-cards {
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 20px;
  }
}

@media (max-width: 1024px) {
  .nav-link ul li a {
    font-size: 1.2rem;
  }
  .log_img {
    width: 50px;
    height: 41.11px;
  }

  /* why card */

  .card {
    width: 294px;
  }
  .card-custom_icon {
    margin: 40px 0 20px 0;
  }
  .card-setup_color {
    background: #fec952;
  }
  .card-secure_color {
    background: #62b8f3;
  }

  .card-custom_h {
    width: 175px;
    margin-bottom: 12px;
  }
  .card_heading {
    font-weight: 500;
    font-size: 18px;
    line-height: 28px;
  }
  .card-custom_p {
    width: 264px;
  }
  .para_b {
    font-weight: 400;
    font-size: 12px;
    line-height: 20px;
  }
  .main-why_para {
    width: 441px;
  }
  .heading_s {
    font-weight: 600;
    font-size: 36px;
    line-height: 49px;
    letter-spacing: 0.02em;
  }

  /* footer section */

  .footer-info {
    flex-wrap: wrap;
  }
}

@media (max-width: 768px) {
  /* media query for menu open and close */
  .nav-link ul {
    padding: 16px;
    position: absolute;
    flex-direction: column;
    top: 7.44rem;
    transition: 0.3s;
    left: -100%;
    width: 100%;
    /* color: white; */
    background: #fff;
  }
  /* .nav-link ul li a {
    color: #ffffff;
  } */
  .nav-link ul.active {
    left: 0;
  }
  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }
  .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }
  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }
  .hamburger {
    display: block;
    cursor: pointer;
  }
  .nav-link ul li:last-child {
    margin: 8px 0;
  }

  .nav-link_items li {
    position: relative;
  }

  .nav-select-options {
    position: absolute !important;
    /* bottom: 72px; */
    top: 25px !important;
    z-index: 1;
    left: 1px !important;
    background: rgb(236, 235, 235) !important;
  }
  .main-why-cards {
    padding-bottom: 60px;
  }
  .main-why_heading_para {
    padding-top: 53px;
  }
  .main-why_para {
    margin-top: 4px;
    margin-bottom: 40px;
  }
}

@media (max-width: 600px) {
  .main-why_para {
    width: 316px;
  }
  .main-why-cards {
    justify-content: center;
  }
}
@media (max-width: 375px) {
  /* card */
  .main-why-cards {
    justify-content: center;
  }
  .heading_s {
    font-size: 30px;
    line-height: 40px;
  }
  .para_b {
    font-size: 14px;
  }
  .main-why_heading_para {
    padding-top: 60px;
  }
  .main-why_para {
    margin-top: 6px;
    margin-bottom: 40px;
  }

  .card {
    width: 316px;
  }
  .card-custom_icon {
    margin-bottom: 24px;
  }
}
